{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "TTS (Text-to-Speech) API",
    "description": "This REST API provides resources for generating speech from text or pre-signed URLs."
  },
  "servers": [
    {
      "url": "https://audio-video-api.adobe.io/v1",
      "description": "Production environment - GA"
    },
    {
      "url": "https://audio-video-api-stage.adobe.io/v1",
      "description": "Staging environment - GA"
    }
  ],
  "security": [
    {
      "AccessToken": [],
      "X-Api-Key": []
    }
  ],
  "paths": {
    "/voices": {
      "get": {
        "summary": "Get available voices",
        "description": "This endpoint provides the list of all available voices for the user's enterprise.",
        "operationId": "voices",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessfulVoicesResponse"
                },
                "examples": {
                  "Success": {
                    "$ref": "#/components/examples/SuccessfulVoicesResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "RunTimeError": {
                    "$ref": "#/components/examples/RunTimeError"
                  },
                  "StudioAPIFailedEntitiesErrorResponse": {
                    "$ref": "#/components/examples/StudioAPIFailedEntitiesErrorResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/generate-speech": {
      "post": {
        "summary": "Generate speech from text",
        "description": "This endpoint generates speech from a transcript. You can provide the transcript either as plain text or a pre-signed URL. The response will include a job ID and a status URL for tracking the job.",
        "operationId": "generate-speech",
        "requestBody": {
          "description": "The request body contains the transcript used for generating speech.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSRequest"
              },
              "examples": {
                "TextInputForSpeechGeneration": {
                  "$ref": "#/components/examples/TextInputForSpeechGeneration"
                },
                "URLInputForSpeechGeneration": {
                  "$ref": "#/components/examples/URLInputForSpeechGeneration"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitAPIResponse"
                },
                "examples": {
                  "SubmitRequestResponse": {
                    "$ref": "#/components/examples/SubmitRequestResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "BadRequestError": {
                    "$ref": "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "UnauthorizedAccessError": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  },
                  "ErrorBodyAccessDenied": {
                    "$ref": "#/components/examples/ErrorBodyAccessDenied"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  },
                  "UserNotEntitledError": {
                    "$ref": "#/components/examples/UserNotEntitledError"
                  },
                  "QuotaExceededError": {
                    "$ref": "#/components/examples/QuotaExceededError"
                  },
                  "UserProfileDeniedError": {
                    "$ref": "#/components/examples/UserProfileDeniedError"
                  },
                  "UserBlockedError": {
                    "$ref": "#/components/examples/UserBlockedError"
                  },
                  "InvalidSubscriptionError": {
                    "$ref": "#/components/examples/InvalidSubscriptionError"
                  },
                  "ViolationError": {
                    "$ref": "#/components/examples/ViolationError"
                  },
                  "TasteExhaustedError": {
                    "$ref": "#/components/examples/TasteExhaustedError"
                  },
                  "AccessError": {
                    "$ref": "#/components/examples/AccessError"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "InvalidInputErrorExample": {
                    "$ref": "#/components/examples/InvalidInputErrorExample"
                  },
                  "MissingInputFileUrlErrorExample": {
                    "$ref": "#/components/examples/MissingInputFileUrlErrorExample"
                  },
                  "InvalidInputUrlErrorExample": {
                    "$ref": "#/components/examples/InvalidInputUrlErrorExample"
                  },
                  "InputFileFormatValidationErrorExample": {
                    "$ref": "#/components/examples/InputFileFormatValidationErrorExample"
                  },
                  "MissingScriptErrorExample": {
                    "$ref": "#/components/examples/MissingScriptErrorExample"
                  },
                  "EmptyTextForScriptErrorExample": {
                    "$ref": "#/components/examples/EmptyTextForScriptErrorExample"
                  },
                  "TextLengthExceededForScriptErrorExample": {
                    "$ref": "#/components/examples/TextLengthExceededForScriptErrorExample"
                  },
                  "TextLengthTooShortForScriptErrorExample": {
                    "$ref": "#/components/examples/TextLengthTooShortForScriptErrorExample"
                  },
                  "ScriptInvalidASCIIRange": {
                    "$ref": "#/components/examples/ScriptInvalidASCIIRange"
                  },
                  "ScriptInvalidTextSupportedRange": {
                    "$ref": "#/components/examples/ScriptInvalidTextSupportedRange"
                  },
                  "InvalidOrMissingLocaleCodeForScriptErrorExample": {
                    "$ref": "#/components/examples/InvalidOrMissingLocaleCodeForScriptErrorExample"
                  },
                  "MissingMediaTypeForScriptErrorExample": {
                    "$ref": "#/components/examples/MissingMediaTypeForScriptErrorExample"
                  },
                  "MediatypeIncomatibleForText": {
                    "$ref": "#/components/examples/MediatypeIncomatibleForText"
                  },
                  "MissingSourceLocaleErrorExample": {
                    "$ref": "#/components/examples/MissingSourceLocaleErrorExample"
                  },
                  "SourceUrlSourceTextConflictErrorExample": {
                    "$ref": "#/components/examples/SourceUrlSourceTextConflictErrorExample"
                  },
                  "UnsupportedVoiceIdErrorExample": {
                    "$ref": "#/components/examples/UnsupportedVoiceIdErrorExample"
                  },
                  "MissingVoiceIdErrorExample": {
                    "$ref": "#/components/examples/MissingVoiceIdErrorExample"
                  },
                  "MissingOutputErrorExample": {
                    "$ref": "#/components/examples/MissingOutputErrorExample"
                  },
                  "MissingMediaTypeForOutputErrorExample": {
                    "$ref": "#/components/examples/MissingMediaTypeForOutputErrorExample"
                  },
                  "InvalidOutputFileFormatErrorExample": {
                    "$ref": "#/components/examples/InvalidOutputFileFormatErrorExample"
                  },
                  "InvalidRequestPayloadErrorExample": {
                    "$ref": "#/components/examples/InvalidRequestPayloadErrorExample"
                  },
                  "InvalidSourceUrlErrorExample": {
                    "$ref": "#/components/examples/InvalidSourceUrlErrorExample"
                  },
                  "IncorrectVoiceNameErrorExample": {
                    "$ref": "#/components/examples/IncorrectVoiceNameErrorExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  },
                  "ErrorBodyRateLimited": {
                    "$ref": "#/components/examples/ErrorBodyRateLimited"
                  }
                }
              }
            }
          },
          "451": {
            "description": "Unavailable For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyLegalReasons": {
                    "$ref": "#/components/examples/ErrorBodyLegalReasons"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "TTSServiceSubmitError": {
                    "$ref": "#/components/examples/TTSServiceSubmitError"
                  },
                  "TTSEntityCreationError": {
                    "$ref": "#/components/examples/TTSEntityCreationError"
                  },
                  "TTSRuntimeError": {
                    "$ref": "#/components/examples/TTSRuntimeError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/status/{jobId}": {
      "get": {
        "summary": "Get the status of a job",
        "description": "Provides the status and result of an asynchronous TTS job.",
        "operationId": "status",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The job ID of an asynchronous TTS job.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAPIResponse"
                },
                "examples": {
                  "StatusAPIInprogressRequestResponse": {
                    "$ref": "#/components/examples/StatusApiInProgressRequestResponse"
                  },
                  "StatusAPISuccessRequestResponse": {
                    "$ref": "#/components/examples/StatusApiSuccessRequestResponse"
                  },
                  "StatusAPIFailedInputFileDownloadResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedInputFileDownloadResponse"
                  },
                  "StatusAPIFailedMediatypeMismatchResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedMediatypeMismatchResponse"
                  },
                  "StatusAPIFailedCAISigningResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedCAISigningResponse"
                  },
                  "StatusAPIFailedUploadErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedUploadErrorResponse"
                  },
                  "StatusAPIFailedDownloadErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedDownloadErrorResponse"
                  },
                  "StatusAPIFailedTTSErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedTTSErrorResponse"
                  },
                  "StatusAPIFailedInternalErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedInternalErrorResponse"
                  },
                  "StatusAPIFailedTTSInternalErrorResponse": {
                    "$ref": "#/components/examples/StatusAPIFailedTTSInternalErrorResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyUnauthorized": {
                    "$ref": "#/components/examples/ErrorBodyUnauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyForbidden": {
                    "$ref": "#/components/examples/ErrorBodyForbidden"
                  },
                  "ErrorBodyAPIKeyInvalid": {
                    "$ref": "#/components/examples/ErrorBodyAPIKeyInvalid"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyResourceNotFound": {
                    "$ref": "#/components/examples/ErrorBodyResourceNotFound"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "ErrorBodyTooManyRequests": {
                    "$ref": "#/components/examples/ErrorBodyTooManyRequests"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailedResponse"
                },
                "examples": {
                  "RunTimeError": {
                    "$ref": "#/components/examples/RunTimeError"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "http",
        "scheme": "bearer"
      },
      "X-Api-Key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    },
    "schemas": {
      "SuccessfulVoicesResponse": {
        "type": "object",
        "description": "List of available voices.",
        "properties": {
          "voices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoiceEntity"
            }
          }
        }
      },
      "VoiceEntity": {
        "type": "object",
        "description": "Details of Voice Entity.",
        "properties": {
          "voiceId": {
            "type": "string",
            "description": "The unique ID for the voice."
          },
          "displayName": {
            "type": "string",
            "description": "The displayed name for the voice."
          },
          "gender": {
            "type": "string",
            "description": "The gender of the voice."
          },
          "style": {
            "type": "string",
            "description": "The speaking style of the voice.",
            "enum": [
              "Casual",
              "Excited"
            ]
          },
          "voiceType": {
            "type": "string",
            "description": "Not applicable at this time."
          },
          "status": {
            "type": "string",
            "description": "This determines if the specific voice ID is available for use. Deprecated voices will have an Inactive status.",
            "enum": [
              "Active",
              "Inactive"
            ]
          },
          "extendedPropertyMap": {
            "type": "object",
            "description": "This is a field for any additional properties for the voice."
          },
          "wordsPerMinute": {
            "type": "string",
            "description": "The speed of speaking, in words per minute."
          },
          "rolePlayList": {
            "type": "array",
            "description": "Not applicable at this time.",
            "items": {
              "type": "string"
            }
          },
          "sampleURL": {
            "type": "string",
            "description": "A pre-signed URL for downloading the sample audio."
          }
        }
      },
      "SuccessfulAvatarsResponse": {
        "type": "object",
        "description": "List of available avatars.",
        "properties": {
          "avatars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvatarEntity"
            }
          }
        }
      },
      "AvatarEntity": {
        "type": "object",
        "description": "Details of the avatar entity.",
        "properties": {
          "avatarId": {
            "type": "string",
            "description": "The unique ID for the avatar."
          },
          "displayName": {
            "type": "string",
            "description": "The displayed name for the avatar."
          },
          "gender": {
            "type": "string",
            "description": "The gender of the avatar."
          },
          "clothingStyle": {
            "type": "string",
            "description": "The clothing style worn by the avatar.",
            "enum": [
              "Casual",
              "Formal",
              "Professional"
            ]
          },
          "ageGroup": {
            "type": "string",
            "description": "The intended age bracket of the avatar.",
            "enum": [
              "Young Adult",
              "Middle Aged",
              "Senior"
            ]
          },
          "ethnicity": {
            "type": "string",
            "description": "The ethnicity of the avatar."
          },
          "style": {
            "type": "string",
            "description": "This property is used when the avatar wears a professional or region-specific costume (like Nurse, Doctor, Emergency Worker, Retail Worker, etc.)."
          },
          "status": {
            "type": "string",
            "description": "This determines if the specific avatar ID is available for use. Deprecated avatars will have an Inactive status.",
            "enum": [
              "Active",
              "Inactive"
            ]
          },
          "extendedPropertyMap": {
            "type": "object",
            "description": "This is a field for any additional properties for the avatar."
          },
          "thumbnailUrls": {
            "type": "object",
            "properties": {
              "hd": {
                "type": "string",
                "description": "A pre-signed URL for downloading the high-resolution avatar thumbnail."
              },
              "lowRes": {
                "type": "string",
                "description": "A pre-signed URL for downloading the low-resolution avatar thumbnail."
              }
            }
          },
          "voiceId": {
            "type": "string",
            "description": "The unique ID for the voice."
          },
          "sampleVideo": {
            "type": "object",
            "properties": {
              "webm": {
                "type": "string",
                "description": "A pre-signed URL for downloading avatar sample video in WEBM format."
              },
              "mp4": {
                "type": "string",
                "description": "A pre-signed URL for downloading avatar sample video in MP4 format."
              }
            }
          }
        }
      },
      "SupportedLanguageCode": {
        "type": "string",
        "enum": [
          "en-US",
          "es-ES",
          "de-DE",
          "fr-FR",
          "da-DK",
          "en-GB",
          "en-IN",
          "es-419",
          "es-AR",
          "fr-CA",
          "hi-IN",
          "it-IT",
          "ja-JP",
          "ko-KR",
          "nb-NO",
          "pt-BR",
          "pt-PT",
          "nl-NL",
          "zh-CN",
          "sv-SE"
        ],
        "description": "The language code for the supported language desired in the result."
      },
      "SupportedAudioOutputAudioFormat": {
        "type": "string",
        "enum": [
          "audio/wav"
        ],
        "description": "The supported audio format for output."
      },
      "SupportedOutputVideoFormat": {
        "type": "string",
        "enum": [
          "video/mp4"
        ],
        "description": "The supported video format for background video for Avatar."
      },
      "SupportedBackgroundType": {
        "type": "string",
        "enum": [
          "color",
          "video",
          "image"
        ],
        "description": "Supported background type for output Avatar video."
      },
      "TTSRequest": {
        "$ref": "#/components/schemas/GenerateSpeechUsingPlainText"
      },
      "GenerateSpeechUsingPlainText": {
        "type": "object",
        "properties": {
          "script": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/TextSource"
              },
              {
                "$ref": "#/components/schemas/URLSource"
              }
            ],
            "type": "object",
            "properties": {
              "localeCode": {
                "$ref": "#/components/schemas/SupportedLanguageCode"
              },
              "mediaType": {
                "type": "string",
                "enum": [
                  "text/plain"
                ],
                "description": "The format of the text resource."
              }
            },
            "required": [
              "localeCode",
              "mediaType"
            ]
          },
          "voiceId": {
            "type": "string",
            "description": "ID of the voice to use from the catalog of voices."
          },
          "output": {
            "type": "object",
            "properties": {
              "mediaType": {
                "$ref": "#/components/schemas/SupportedAudioOutputAudioFormat"
              }
            },
            "required": [
              "mediaType"
            ]
          }
        },
        "required": [
          "voiceId",
          "output",
          "script"
        ]
      },
      "AvatarRequest": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/GenerateAvatarUsingPlainText"
          },
          {
            "$ref": "#/components/schemas/GenerateAvatarUsingAudioFile"
          }
        ]
      },
      "GenerateAvatarUsingPlainText": {
        "title": "Generate Avatar Using Plain Text",
        "type": "object",
        "properties": {
          "script": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/TextSource"
              },
              {
                "$ref": "#/components/schemas/URLSource"
              }
            ],
            "type": "object",
            "properties": {
              "localeCode": {
                "$ref": "#/components/schemas/SupportedLanguageCode"
              },
              "mediaType": {
                "type": "string",
                "enum": [
                  "text/plain"
                ],
                "description": "The format of the text resource."
              }
            },
            "required": [
              "localeCode",
              "mediaType"
            ]
          },
          "voiceId": {
            "type": "string",
            "description": "ID of the voice to use from the catalog of voices."
          },
          "avatarId": {
            "type": "string",
            "description": "ID of the avatar to use from the catalog of avatars."
          },
          "output": {
            "$ref": "#/components/schemas/AvatarOutputObject"
          }
        },
        "required": [
          "voiceId",
          "output",
          "script",
          "avatarId"
        ]
      },
      "GenerateAvatarUsingAudioFile": {
        "title": "Generate Avatar Using Audio File",
        "type": "object",
        "properties": {
          "audio": {
            "type": "object",
            "properties": {
              "source": {
                "$ref": "#/components/schemas/URLObject"
              },
              "mediaType": {
                "type": "string",
                "enum": [
                  "audio/wav",
                  "audio/x-wav",
                  "audio/aac"
                ]
              },
              "localeCode": {
                "$ref": "#/components/schemas/SupportedLanguageCode"
              }
            },
            "required": [
              "localeCode",
              "mediaType",
              "source"
            ]
          },
          "avatarId": {
            "type": "string",
            "description": "ID of the avatar to use from the catalog of avatars."
          },
          "output": {
            "$ref": "#/components/schemas/AvatarOutputObject"
          }
        },
        "required": [
          "output",
          "audio",
          "avatarId"
        ]
      },
      "URLSource": {
        "type": "object",
        "properties": {
          "source": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "The pre-signed URL pointing to the resource to be used for avatar/speech generation."
              }
            }
          }
        }
      },
      "URLObject": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The pre-signed URL pointing to the resource to be used for avatar/speech generation."
          }
        }
      },
      "AvatarOutputObject": {
        "type": "object",
        "properties": {
          "mediaType": {
            "$ref": "#/components/schemas/SupportedOutputVideoFormat"
          },
          "background": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/OutputColor"
              },
              {
                "$ref": "#/components/schemas/URLSource"
              }
            ],
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/SupportedBackgroundType"
              }
            }
          },
          "resolution": {
            "type": "object",
            "properties": {
              "width": {
                "type": "string"
              },
              "height": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "mediaType"
        ]
      },
      "TextSource": {
        "description": "Details of the text resource.",
        "type": "string",
        "properties": {
          "text": {
            "type": "string"
          }
        }
      },
      "OutputColor": {
        "type": "string",
        "properties": {
          "color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$",
            "description": "For color as background of output, it should be six digit hexadecimal value"
          }
        }
      },
      "SubmitAPIResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "statusUrl": {
            "type": "string"
          }
        }
      },
      "StatusAPIResponse": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/StatusAPIInprogressResponse"
          },
          {
            "$ref": "#/components/schemas/StatusAPICompletedResponse"
          },
          {
            "$ref": "#/components/schemas/StatusAPIFailedResponse"
          }
        ]
      },
      "StatusAPIResponseStatus": {
        "type": "string",
        "enum": [
          "pending",
          "running",
          "failed",
          "succeeded"
        ],
        "description": "Status of the job."
      },
      "StatusAPIInprogressResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/StatusAPIResponseStatus"
          }
        }
      },
      "StatusAPICompletedResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/StatusAPIResponseStatus"
          },
          "output": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "StatusAPIFailedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/StatusAPIResponseStatus"
          },
          "jobId": {
            "type": "string"
          },
          "error_code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "FailedResponse": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "examples": {
      "TextInputForSpeechGeneration": {
        "summary": "Generate speech using plain text",
        "value": {
          "script": {
            "text": "<plain text>",
            "mediaType": "text/plain",
            "localeCode": "en-US"
          },
          "voiceId": "<voice id>",
          "output": {
            "mediaType": "audio/wav"
          }
        }
      },
      "URLInputForSpeechGeneration": {
        "summary": "Generate speech using text file",
        "value": {
          "script": {
            "source": {
              "url": "<pre-signed url of text file>"
            },
            "mediaType": "text/plain",
            "localeCode": "en-US"
          },
          "voiceId": "<voice id>",
          "output": {
            "mediaType": "audio/wav"
          }
        }
      },
      "SuccessfulVoicesResponse": {
        "summary": "Successful response with voices details",
        "value": {
          "voices": [
            {
              "voiceId": "v123",
              "displayName": "John Doe",
              "gender": "M",
              "style": "Professional",
              "voiceType": "Nurse",
              "status": "Active",
              "extendedPropertyMap": {},
              "wordsPerMinute": "100",
              "rolePlayList": [],
              "sampleURL": "<pre-signed url for downloading the sample audio>"
            }
          ]
        }
      },
      "SuccessfulAvatarsResponse": {
        "summary": "Successful response with avatars details",
        "value": {
          "avatars": [
            {
              "avatarId": "a321",
              "displayName": "Alice",
              "gender": "F",
              "clothingStyle": "Formal",
              "ageGroup": "Young Adult",
              "ethnicity": "Caucasian",
              "status": "Active",
              "style": "Doctor",
              "extendedPropertyMap": {},
              "thumbnailUrls": {
                "hd": "<pre-signed url for downloading HD avatar thumbnail>",
                "lowRes": "<pre-signed url for downloading low resolution avatar thumbnail>"
              },
              "voiceId": "v321",
              "sampleVideo": {
                "webm": "<pre-signed url for downloading the avatar sample video in WEBM format>",
                "mp4": "<pre-signed url for downloading the avatar sample video in MP4 format>"
              }
            }
          ]
        }
      },
      "SubmitRequestResponse": {
        "summary": "Successful response with job details",
        "value": {
          "jobId": "string",
          "statusUrl": "string"
        }
      },
      "BadRequestError": {
        "summary": "Bad Request",
        "value": {
          "error_code": "invalid_json",
          "message": "Invalid request. Please check the input data."
        }
      },
      "ErrorBodyUnauthorized": {
        "summary": "Invalid Token",
        "value": {
          "error_code": "401013",
          "message": "Oauth token is not valid"
        }
      },
      "ErrorBodyAccessDenied": {
        "summary": "Access Denied",
        "value": {
          "error_code": "unauthorized_forbidden",
          "message": "Access denied: You do not have the necessary permissions to access this resourced"
        }
      },
      "ErrorBodyForbidden": {
        "summary": "Api Key is required",
        "value": {
          "error_code": "403000",
          "message": "Api Key is required"
        }
      },
      "ErrorBodyAPIKeyInvalid": {
        "summary": "Api Key is invalid",
        "value": {
          "error_code": "403003",
          "message": "Api Key is invalid"
        }
      },
      "UserNotEntitledError": {
        "summary": "User Not Entitled",
        "value": {
          "error_code": "user_not_entitled",
          "message": "User not entitled: You do not have the entitlement to perform this operation."
        }
      },
      "QuotaExceededError": {
        "summary": "Quota Exceeded",
        "value": {
          "error_code": "quota_exhausted",
          "message": "Quota exceeded: You have reached the maximum allowed usage for this service."
        }
      },
      "UserProfileDeniedError": {
        "summary": "User Profile Denied",
        "value": {
          "error_code": "user_profile_denied",
          "message": "User profile denied: Your profile does not meet the requirements for this action."
        }
      },
      "UserBlockedError": {
        "summary": "User Blocked By Admin",
        "value": {
          "error_code": "user_blocked_by_admin",
          "message": "Access blocked: Your account has been blocked by an administrator."
        }
      },
      "InvalidSubscriptionError": {
        "summary": "Invalid Subscription",
        "value": {
          "error_code": "invalid_subscription",
          "message": "Invalid subscription: Your subscription does not cover this service or feature."
        }
      },
      "ViolationError": {
        "summary": "User Blocked Due To Violation",
        "value": {
          "error_code": "user_blocked_due_to_violation",
          "message": "Account blocked: Your account has been blocked due to a violation of terms."
        }
      },
      "TasteExhaustedError": {
        "summary": "Taste Exhausted",
        "value": {
          "error_code": "taste_exhausted",
          "message": "Unauthorized: Limited taste for user is exhausted."
        }
      },
      "AccessError": {
        "summary": "Access Error",
        "value": {
          "error_code": "unauthorized",
          "message": "Token not allowed in the current context"
        }
      },
      "ErrorBodyResourceNotFound": {
        "summary": "Not Found",
        "value": {
          "error_code": "unknown_job_id",
          "message": "The requested resource was not found."
        }
      },
      "UserBKSFailedErrorExample": {
        "summary": "",
        "value": {
          "error_code": "validation_error",
          "message": "Unauthorised authorization request"
        }
      },
      "InvalidInputErrorExample": {
        "summary": "Invalid Input",
        "value": {
          "error_code": "validation_error",
          "message": "The request could not be processed due to invalid input"
        }
      },
      "MissingInputFileUrlErrorExample": {
        "summary": "Missing Input URL",
        "value": {
          "error_code": "validation_error",
          "message": "Missing input file URL"
        }
      },
      "InvalidInputUrlErrorExample": {
        "summary": "Invalid Input URL",
        "value": {
          "error_code": "validation_error",
          "message": "Invalid input 'url' specified"
        }
      },
      "InputFileFormatValidationErrorExample": {
        "summary": "Invalid Input Format",
        "value": {
          "error_code": "validation_error",
          "message": "Input file format is not supported"
        }
      },
      "MissingScriptErrorExample": {
        "summary": "Missing Input Script",
        "value": {
          "error_code": "validation_error",
          "message": "Script missing in the payload"
        }
      },
      "EmptyTextForScriptErrorExample": {
        "summary": "Empty Input Text",
        "value": {
          "error_code": "validation_error",
          "message": "The provided 'text' is empty"
        }
      },
      "TextLengthExceededForScriptErrorExample": {
        "summary": "Input Text Too Long",
        "value": {
          "error_code": "validation_error",
          "message": "Input text has more than 20000 characters"
        }
      },
      "TextLengthTooShortForScriptErrorExample": {
        "summary": "Input Text Too Short",
        "value": {
          "error_code": "validation_error",
          "message": "Input text has less than 15 characters"
        }
      },
      "ScriptInvalidASCIIRange": {
        "summary": "Non-ASCII Input Text",
        "value": {
          "error_code": "validation_error",
          "message": "Input contains unsupported characters. Please use only ASCII or extended ASCII."
        }
      },
      "ScriptInvalidTextSupportedRange": {
        "summary": "Invalid Input Text",
        "value": {
          "error_code": "validation_error",
          "message": "Input contains unsupported characters. Please remove any Emojis or Symbols"
        }
      },
      "InvalidOrMissingLocaleCodeForScriptErrorExample": {
        "summary": "Invalid Source Locale",
        "value": {
          "error_code": "validation_error",
          "message": "Invalid source locale code specified"
        }
      },
      "MissingMediaTypeForScriptErrorExample": {
        "summary": "Missing Script Mediatype",
        "value": {
          "error_code": "validation_error",
          "message": "Missing script 'mediaType' in the payload"
        }
      },
      "MediatypeIncomatibleForText": {
        "summary": "Invalid Script Mediatype",
        "value": {
          "error_code": "validation_error",
          "message": "Provided text format is not valid for input mediaType"
        }
      },
      "MissingSourceLocaleErrorExample": {
        "summary": "Missing Source Locale",
        "value": {
          "error_code": "validation_error",
          "message": "Source locale missing in payload"
        }
      },
      "SourceUrlSourceTextConflictErrorExample": {
        "summary": "Both URL and Text",
        "value": {
          "error_code": "validation_error",
          "message": "Both source url and source text is present in the request"
        }
      },
      "UnsupportedVoiceIdErrorExample": {
        "summary": "Invalid Voice ID",
        "value": {
          "error_code": "validation_error",
          "message": "The requested 'voiceId' is not supported"
        }
      },
      "MissingVoiceIdErrorExample": {
        "summary": "Missing Voice ID",
        "value": {
          "error_code": "validation_error",
          "message": "Missing 'voiceId' in the payload"
        }
      },
      "MissingOutputErrorExample": {
        "summary": "Missing Output Config",
        "value": {
          "error_code": "validation_error",
          "message": "Missing 'output' field in the payload"
        }
      },
      "MissingMediaTypeForOutputErrorExample": {
        "summary": "Missing Output Mediatype",
        "value": {
          "error_code": "validation_error",
          "message": "Missing output 'mediaType' in payload"
        }
      },
      "InvalidOutputFileFormatErrorExample": {
        "summary": "Invalid Output Format",
        "value": {
          "error_code": "validation_error",
          "message": "Output file format is not valid"
        }
      },
      "InvalidRequestPayloadErrorExample": {
        "summary": "Invalid TTS Request",
        "value": {
          "error_code": "validation_error",
          "message": "Text to speech service marked this request as invalid"
        }
      },
      "InputScriptAudioConflictErrorExample": {
        "summary": "Both Script and Audio",
        "value": {
          "error_code": "validation_error",
          "message": "Must specify either script or audio, not both"
        }
      },
      "InputScriptAudioMissingErrorExample": {
        "summary": "None of Script or Audio",
        "value": {
          "error_code": "validation_error",
          "message": "Must specify either script or audio, both cannot be empty"
        }
      },
      "InputScriptAudioMissingOrInvalidErrorExample": {
        "summary": "None of Text or URL",
        "value": {
          "error_code": "validation_error",
          "message": "Provide non-empty text in 'script' or a valid URL in 'source'"
        }
      },
      "InvalidOrMissingAudioUrlErrorExample": {
        "summary": "Invalid Audio URL",
        "value": {
          "error_code": "validation_error",
          "message": "Invalid or missing 'url' specified in audio"
        }
      },
      "MissingAudioSourceErrorExample": {
        "summary": "Missing Audio Source",
        "value": {
          "error_code": "validation_error",
          "message": "Audio source missing in payload"
        }
      },
      "MissingAvatarIdErrorExample": {
        "summary": "Missing Avatar ID",
        "value": {
          "error_code": "validation_error",
          "message": "The 'avatarId' property is required"
        }
      },
      "UnsupportedAvatarIdErrorExample": {
        "summary": "Invalid Avatar ID",
        "value": {
          "error_code": "validation_error",
          "message": "The requested 'avatarId' is not supported"
        }
      },
      "MissingBackgroundUrlErrorExample": {
        "summary": "Missing Background URL",
        "value": {
          "error_code": "validation_error",
          "message": "Background URL must be specified for type 'video' or 'image'"
        }
      },
      "MissingBackgroundTypeErrorExample": {
        "summary": "Missing Background Type",
        "value": {
          "error_code": "validation_error",
          "message": "Background type must be set to 'image', 'video', or 'color'"
        }
      },
      "InvalidBackgroundUrlErrorExample": {
        "summary": "Invalid Background URL",
        "value": {
          "error_code": "validation_error",
          "message": "Invalid 'url' specified in background"
        }
      },
      "BackgroundSourceColorConflictErrorExample": {
        "summary": "Both Background Source and Color",
        "value": {
          "error_code": "validation_error",
          "message": "Must specify either background source or color, not both"
        }
      },
      "BackgroundSourceColorMissingErrorExample": {
        "summary": "None of Background Source or Color",
        "value": {
          "error_code": "validation_error",
          "message": "Must specify either background source or color, both cannot be empty"
        }
      },
      "InvalidBackgroundColorErrorExample": {
        "summary": "Invalid Background Color",
        "value": {
          "error_code": "validation_error",
          "message": "Invalid 'color' specified in background"
        }
      },
      "MissingBackgroundColorErrorExample": {
        "summary": "Missing Background Color",
        "value": {
          "error_code": "validation_error",
          "message": "Background color must be specified for type 'color'"
        }
      },
      "BackgroundInvalidFormat": {
        "summary": "Invalid Background Type",
        "value": {
          "error_code": "validation_error",
          "message": "Transparent background is not supported"
        }
      },
      "BackgroundIncompatibleWithFormat": {
        "summary": "Incompatible Background Type",
        "value": {
          "error_code": "validation_error",
          "message": "Transparent background is only supported for 'video/webm' output file format"
        }
      },
      "FormatIncompatibleWithBackground": {
        "summary": "Incompatible Output Format",
        "value": {
          "error_code": "validation_error",
          "message": "The 'video/webm' output format can only be used when the background type is 'transparent'"
        }
      },
      "UnsupportedOutputResolution": {
        "summary": "Invalid Output Resolution",
        "value": {
          "error_code": "validation_error",
          "message": "Unsupported resolution specified in output. Accepted values are [1920x1080, 3840x2160]"
        }
      },
      "UnsupportedShotTypeErrorExample": {
        "summary": "Invalid Shot Type",
        "value": {
          "error_code": "validation_error",
          "message": "Shot Type is not supported."
        }
      },
      "InvalidSourceUrlErrorExample": {
        "summary": "Invalid Source URL",
        "value": {
          "error_code": "validation_error",
          "message": "Invalid source url"
        }
      },
      "IncorrectVoiceNameErrorExample": {
        "summary": "Invalid Voice Name",
        "value": {
          "error_code": "validation_error",
          "message": "The provided `voice name` is incorrect in the script text"
        }
      },
      "ErrorBodyTooManyRequests": {
        "summary": "Too many requests",
        "value": {
          "error_code": "429050",
          "message": "Too many requests"
        }
      },
      "ErrorBodyRateLimited": {
        "summary": "Rate Limited",
        "value": {
          "error_code": "rate_limited",
          "message": "Too many requests received"
        }
      },
      "ErrorBodyLegalReasons": {
        "summary": "Legal Restrictions",
        "value": {
          "error_code": "unauthorized_legal_reasons",
          "message": "Unauthorized access: Legal restrictions prevent you from accessing this resource."
        }
      },
      "RunTimeError": {
        "summary": "Internal Server Error",
        "value": {
          "error_code": "runtime_error",
          "message": "Internal Server Error"
        }
      },
      "TTSRuntimeError": {
        "summary": "Error Handling Response",
        "value": {
          "error_code": "runtime_error",
          "message": "Internal Server Error while receiving or handling response"
        }
      },
      "TTSEntityCreationError": {
        "summary": "Error Processing Request",
        "value": {
          "error_code": "runtime_error",
          "message": "Internal Server Error while creating text to speech request"
        }
      },
      "TTSServiceSubmitError": {
        "summary": "Error Submitting Request",
        "value": {
          "error_code": "runtime_error",
          "message": "Internal Server Error while submitting text to speech request"
        }
      },
      "PlainTextInputForAvatarGeneration": {
        "summary": "Generate avatar using plain text",
        "value": {
          "script": {
            "text": "<plain text>",
            "mediaType": "text/plain",
            "localeCode": "en-US"
          },
          "voiceId": "<voice id>",
          "avatarId": "<avatar id>",
          "output": {
            "mediaType": "video/mp4"
          }
        }
      },
      "PlainTextInputForAvatarGenerationUsingVideoBackground": {
        "summary": "Generate avatar using plain text and video background",
        "value": {
          "script": {
            "text": "<plain text>",
            "mediaType": "text/plain",
            "localeCode": "en-US"
          },
          "voiceId": "<voice id>",
          "avatarId": "<avatar id>",
          "output": {
            "mediaType": "video/mp4",
            "background": {
              "type": "video",
              "source": {
                "url": "<pre-signed url of background video>"
              }
            }
          }
        }
      },
      "PlainTextInputForAvatarGenerationUsingImageBackground": {
        "summary": "Generate avatar using plain text and image background",
        "value": {
          "script": {
            "text": "<plain text>",
            "mediaType": "text/plain",
            "localeCode": "en-US"
          },
          "voiceId": "<voice id>",
          "avatarId": "<avatar id>",
          "output": {
            "mediaType": "video/mp4",
            "background": {
              "type": "image",
              "source": {
                "url": "<pre-signed url of background image>"
              }
            }
          }
        }
      },
      "PlainTextInputForAvatarGenerationUsingColorBackground": {
        "summary": "Generate avatar using plain text and color background",
        "value": {
          "script": {
            "text": "<plain text>",
            "mediaType": "text/plain",
            "localeCode": "en-US"
          },
          "voiceId": "<voice id>",
          "avatarId": "<avatar id>",
          "output": {
            "mediaType": "video/mp4",
            "background": {
              "type": "color",
              "color": "#FFF000"
            }
          }
        }
      },
      "URLTextInputForAvatarGeneration": {
        "summary": "Generate avatar using text file",
        "value": {
          "script": {
            "source": {
              "url": "<pre-signed url of text file>"
            },
            "mediaType": "text/plain",
            "localeCode": "en-US"
          },
          "voiceId": "<voice id>",
          "avatarId": "<avatar id>",
          "output": {
            "mediaType": "video/mp4"
          }
        }
      },
      "URLInputForAvatarGeneration": {
        "summary": "Generate avatar using audio file",
        "value": {
          "audio": {
            "source": {
              "url": "<pre-signed url of input audio>"
            },
            "mediaType": "audio/wav",
            "localeCode": "en-US"
          },
          "avatarId": "<avatar id>",
          "output": {
            "mediaType": "video/mp4"
          }
        }
      },
      "StatusApiInProgressRequestResponse": {
        "summary": "Inprogress response with job details",
        "value": {
          "jobId": "string",
          "status": "running"
        }
      },
      "StatusApiSuccessRequestResponse": {
        "summary": "Success response with job details",
        "value": {
          "jobId": "string",
          "status": "succeeded",
          "output": {
            "url": "string"
          }
        }
      },
      "StatusAPIFailedInputFileDownloadResponse": {
        "summary": "Failed Input Download",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "resource_not_found",
          "message": "Failed to download input file"
        }
      },
      "StatusAPIFailedUnsafeScriptResponse": {
        "summary": "Unsafe Script",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "validation_error",
          "message": "The provided prompt is considered unsafe and it cannot be used to generate content"
        }
      },
      "StatusAPIFailedBackgroundFileResponse": {
        "summary": "Failed Background File Download",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "validation_error",
          "message": "Error while downloading media format file from Background URL"
        }
      },
      "StatusAPIFailedMediatypeMismatchResponse": {
        "summary": "Invalid Input Mediatype",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "validation_error",
          "message": "Provided input mediaType should match the type of source media"
        }
      },
      "StatusAPIFailedUnsupportedBackgroundResponse": {
        "summary": "Unsupported Background File Type",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "validation_error",
          "message": "Unsupported file type for background"
        }
      },
      "StatusAPIFailedBackgroundResulutionMismatchResponse": {
        "summary": "Unsupported Background Resolution",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "validation_error",
          "message": "Background asset resolution should match output background resolution (with default value 1920x1080)"
        }
      },
      "StatusAPIFailedDurationTooLongResponse": {
        "summary": "Unsupported Audio Duration",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "validation_error",
          "message": "Audio duration should be less than 30 mins"
        }
      },
      "StatusAPIFailedCAISigningResponse": {
        "summary": "CAI Signing Failed",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "CAI Signing Failed"
        }
      },
      "StatusAPIFailedUploadErrorResponse": {
        "summary": "Failed Output Upload",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Unable to upload the output"
        }
      },
      "StatusAPIFailedDownloadErrorResponse": {
        "summary": "Failed Stock Media Download",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Unable to download stock media"
        }
      },
      "StatusAPIFailedTTSErrorResponse": {
        "summary": "Error in TTS",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Run time error in tts"
        }
      },
      "StatusAPIFailedAvatarErrorResponse": {
        "summary": "Error in Avatar",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Run time error in avatar"
        }
      },
      "StatusAPIFailedLipsyncErrorResponse": {
        "summary": "Error in Lipsync",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Validation failure in Lipsync Pipeline"
        }
      },
      "StatusAPIFailedFFMpegErrorResponse": {
        "summary": "Error in FFMpeg",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Failed in FFmpeg worker"
        }
      },
      "StatusAPIFailedLipsyncPollingErrorResponse": {
        "summary": "Error Polling for Lipsync",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Failed while polling for Lipsync"
        }
      },
      "StatusAPIFailedMediaTrimErrorResponse": {
        "summary": "Error Processing Avatar Video",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Error while triming avatar video"
        }
      },
      "StatusAPIFailedMediaTrimAlphaErrorResponse": {
        "summary": "Error Processing Avatar Alpha Video",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Error while triming avatar alpha video"
        }
      },
      "StatusAPIFailedConfigDownloadResponse": {
        "summary": "Error Processing Avatar Config",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Error while downloading actor config file"
        }
      },
      "StatusAPIFailedInternalErrorResponse": {
        "summary": "Error Processing Response",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Internal Server Error while receiving or handling response"
        }
      },
      "StatusAPIFailedTTSInternalErrorResponse": {
        "summary": "Error Getting Status",
        "value": {
          "jobId": "string",
          "status": "failed",
          "error_code": "runtime_error",
          "message": "Internal Server Error while getting text to speech request status"
        }
      },
      "StudioAPIFailedEntitiesErrorResponse": {
        "summary": "Error Fetching Entities",
        "value": {
          "error_code": "runtime_error",
          "message": "Error while fetching available entities"
        }
      }
    }
  }
}
